.app {
  margin-bottom: 50px;
  &__intro {
    background: url('./assets/cover.svg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 70px;
    @media only screen and (max-width: 400px) {
      width: 20%;
    }
  }
  &__title {
    color: white;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
  }
  &__subtitle {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
  }
  &__showcase {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 600px;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }
  &__trynow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid turquoise;
    font-size: 18px;
    transition: 0.3s;
    @media only screen and (max-width: 100px) {
      width: 100%;
    }
    &:hover {
      background-color: turquoise;
      color: white;
      transition: 0.3s;
    }
  }
  &__sellingpoints {
    margin-top: 50px;
    column-count: 3;
    @media only screen and (max-width: 400px) {
      column-count: 1;
    }
  }

  &__sellingpoint {
    padding: 30px;
    &--icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
      margin-bottom: 30px;
      @media only screen and (max-width: 100px) {
        width: 100%;
      }
    }
    &--desc {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 18px;
    }
  }
  &__divider {
    width: 90%;
  }
  &__partners {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    @media only screen and (max-width: 300px) {
      width: 100%;
    }
  }
  &__footer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    width: fit-content;
    color: teal;
    &--left {
      padding-right: 10px;
      @media only screen and (max-width: 300px) {
        padding-right: 0px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    &--right {
      padding-left: 10px;
      @media only screen and (max-width: 300px) {
        padding-left: 0px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    @media only screen and (max-width: 300px) {
      display: block;
    }
  }
}
